**/jobInfo.properties
.JETEmitters/
.Java/
.metadata/
routines/system/*.*
temp/
sqlPatterns/
talend.project
/temp/
*.log
poms/**/.settings/
poms/**/target/
poms/**/tests/
poms/**/src/
poms/**/*.classpath
poms/**/*.project
poms/**/*.bak
poms/**/*.log
poms/jobs/process/Helena_examples_to_be_del/
.settings/*
